<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <servlet>
    <description></description>
    <display-name>InitServlet</display-name>
    <servlet-name>InitServlet</servlet-name>
    <servlet-class>patie2.controlleur.InitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitServlet</servlet-name>
    <url-pattern>/Acceuil</url-pattern>
  </servlet-mapping>
  <display-name>partie2</display-name>
  <absolute-ordering/>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NewCar</display-name>
    <servlet-name>NewCar</servlet-name>
    <servlet-class>patie2.controlleur.NewCar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewCar</servlet-name>
    <url-pattern>/new</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Modifier</display-name>
    <servlet-name>Modifier</servlet-name>
    <servlet-class>patie2.controlleur.Modifier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modifier</servlet-name>
    <url-pattern>/modifier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>afficher</display-name>
    <servlet-name>afficher</servlet-name>
    <servlet-class>patie2.controlleur.afficher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>afficher</servlet-name>
    <url-pattern>/afficher</url-pattern>
  </servlet-mapping>
</web-app>